<div class="container">

    <div class="row">

        <div class="col-md-7">
            <img src="https://www.kurumsaleticaretsitesi.com/image/cache/catalog/kurumsal-logo-2-1419x970.png"  alt="..." width="500px" height="500px" >
        </div>
        <div class="col-md-5" >
           <div *ngIf="productDetail!=null">
             
            
                <h2 style=" margin-bottom: 20px;">{{productDetail.productName}}</h2>
             
                
                <h1 style="color: brown; font-size: xx-large; margin-left: 200px; "> {{productDetail.productPrice}} TL</h1>

                <hr>
                  <h4>Marka: {{productDetail.brandName}}</h4>
                  <h4>Renk: {{productDetail.colorName}}</h4>
                  <h4>Açıklama: {{productDetail.description}}</h4>
            
                
               
              <button type="button" class="btn btn-danger" style="margin-left: 50px; width: 200px; height: 40px;  margin-top: 20px;" >Sepete At</button>
           </div>
        </div>
</div>
</div>

